.header {
  position: fixed;
  top: 0;
  height: 4rem;
  width: 100%;
  padding-inline: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
}

.logo {
  color: red;
  font-size: 1.5rem;
  cursor: pointer;
}


.create{
 border: none;
 background: rgb(2, 107, 2);
 font-size: 1.2rem;
color: white;
font-weight: bold;
padding-block: .5rem;
padding-inline: 1rem;
border-radius: 15px;
cursor: pointer;
}

.create:hover{
 padding-block: .55rem;
padding-inline: 1.05rem;
}